.contact.section {
    padding-bottom: 6.25rem;
}

.section__title {
    font-size: var(--h2-font-size);
    margin-bottom: 2.5rem;
}

.contact__container {
    grid-template-columns: 4fr 8fr;
    column-gap: 1.875rem;
}

.contact__title {
    font-size: var(--h3-font-size);
    margin-bottom: 0.5rem;
}

.contact__form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
}

.contact__form-div {
    position: relative;
    margin-bottom: 1.875rem;
    height: 3.75rem;
}

.contact__form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow);
    background-color: var(--container-color);
    color: var(--tect-color);
    border: none;
    outline: none;
    border-radius: 1.875rem;
    padding: 0.625rem 1.875rem;
    z-index: 1;
}

.message {
    height: 300px;
}

@media (max-width: 768px) {
    .message {
        height: 150px;
    }
    .contact__form-div {
        margin-bottom: 1.375rem;
        height: 2.75rem;
    }
    .contact__form-input {
        font-size: 15px;
    }
    .contact__form-group {
        display: flex;
        flex-direction: column;
        column-gap: 1.5rem;
    }
    .contact__container {
        display: flex;
        flex-direction: column;
    }
    .contact__details {
        margin-bottom: 20px;
    }
}